<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top blue p-3 ">
    <a class="navbar-brand text" href="index.html">
        <h2>SoccerUpdate</h2>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto text">
            <li class="nav-item active">
                <a class="nav-link" href="index.html">Liga <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item text"> <a class="nav-link">|</a></li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pertandingan</a>
            </li>
            <li class="nav-item text"> <a class="nav-link">|</a></li>
            <li class="nav-item">
                <a class="nav-link" href="#">Klub</a>
            </li>
            <li class="nav-item text"> <a class="nav-link">|</a></li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pemain</a>
            </li>
        </ul>
    </div>
</nav>