<nav class="navbar navbar-dark bg-dark fixed-top blue">
    <a class="navbar-brand text small m-0" href="/">
        <h2 class="d-none d-sm-block m-0">SoccerUpdate</h2>
        <h2 class="d-sm-none m-0">SU</h2>
    </a>
    <ol class="breadcrumb small m-0">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Library</a></li>
        <li class="breadcrumb-item"><a href="#">Library</a></li>
        <li class="breadcrumb-item active">Data</li>
    </ol>
</nav>