@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

.blue {
  background-color: #081f2c !important;
}

h1.text {
  font-family: audiowide;
  font-weight: lighter;
  color: #dbaa17ce !important;
}

.text {
    font-family: audiowide;
    font-weight: lighter;
    color: #dbaa17ce !important;
  }
  
  body{
    margin-top: 5%;
    margin-bottom: 2%;
  }

header
{
  margin-top: 0px;
  padding-top: 0px;
}
  
.titlesquad {
  height: 3px;
  background-color: #a2aaad;
  margin-top: 3px;
  left: 0;
  right: 0;
  text-align: center;
  font-family: audiowide;
}
